body {
    background-color: lavender;
    margin: auto;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111111;
}

.oculto {
    display: none;
}

.centrado {
    text-align: center;
}

.logo {
    height: 100px;
}

button {
    background-color: aquamarine;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

header {
    background-color: cornsilk;
}

header div:first-of-type {
    display: flex;
    justify-content: space-between;
}

header div:first-of-type div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 300px;
    min-width: 270px;
    width: 35%;
    /* margin: 20px; */
}

header div:first-of-type div button {
    margin: 20px;
}

main img {
    max-width: 100%;
}

footer {
    background-color: gray;
    width: 100%;
}

footer p {
    margin: 0;
}

main {
    margin: 20px;
    min-height: calc(100vh - 159px);
}

fieldset {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 10px;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 20px;
}

fieldset button {
    width: 100%;
}

label, input {
    width: 100%;
}

fieldset > legend {
    position: absolute;
    left: 50%;
    top: -12px;
    background-color: lavender;
    transform: translate(-50%, 0);
    text-align: center;
}

form > p {
    text-align: center;
}

.seccion > section div {
    border: 3px solid tomato;
    border-radius: 10px;
}

.seccion > section h2 {
    color: red;
}

.seccion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: max-content;
}

.inmuebles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    padding: 30px;
}

.inmuebles div {
    width: 300px;
    background-color: whitesmoke;
    height: min-content;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
}

.inmuebles img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.inmuebles div p {
    padding-left: 5px;
}