body {
    background-color: lavender;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111111;
}

.oculto {
    display: none;
}

.centrado {
    text-align: center;
}

.logo {
    height: 100px;
}

button {
    background-color: aquamarine;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

header {
    background-color: cornsilk;
}

header div:first-of-type {
    display: flex;
    justify-content: space-between;
}

header div:first-of-type div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 300px;
    min-width: 270px;
    width: 35%;
    /* margin: 20px; */
}

header div:first-of-type div button {
    margin: 20px;
}

main img {
    max-width: 100%;
}

footer {
    background-color: gray;
    width: 100%;
}

footer p {
    margin: 0;
}

main {
    margin: 20px;
    min-height: calc(100vh - 159px);
}